<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./img/ecology.svg" type="image/svg">
    <title>Help</title>
</head>

<body>
    <div class="main-content text-center bg-center bg-no-repeat bg-contain"
        style="background-image: url(./img/help.svg)">
        {{>header}}
        <div class=" mx-64 my-2 bg-white-200 shadow-2xl rounded-md">
            <input class="rounded-lg" placeholder="Name">
            <button class="flex-center rounded-lg bg-teal-500 hover:bg-teal-400 ">Submit</button>
        </div>
    </div>


    {{>footer}}
</body>

</html>