<header>
    <img class="float-center" src="./img/logo.png" href="./views/index.hbs">
    <h1 class="text-teal-900 font-bold ">{{title}}</h1>
    <div class=" ">
        <a class="rounded-lg bg-teal-500 hover:bg-teal-400 text-gray-900 hover:font-bold text-base px-4 py-2"
            href="/">Weather</a>
        <a class="rounded-lg bg-teal-500 hover:bg-teal-400 text-gray-900 hover:font-bold text-base px-4 py-2"
            href="/about">About</a>
        <a class="rounded-lg bg-teal-500 hover:bg-teal-400 text-gray-900 hover:font-bold text-base px-4 py-2"
            href="/help">Help</a>
    </div>
</header>